DATABASE_URL="postgresql://postgres:password@localhost:5432/anylink?schema=public"

PUBLIC_APP_DOMAIN="go.shortlinks.in"
ADMIN_EMAILS="admin@example.com"
SUBSCRIPTION_PAYMENT_URL=""
DB_ONLY_MODE="false"
